html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  margin-top: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-prev, 
.slick-slider .slick-next {
  position: absolute;
  top: 50%;
  z-index: 999;
}

.slick-slider .slick-prev::before, 
.slick-slider .slick-next::before {
  color: black
}

.slick-slider .slick-prev {
  left: 1rem;
}

.slick-slider .slick-next {
  right: 1rem;
}

.form-group {
  margin: 3rem auto;
  max-width: 50%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
 .form-group .form-input {
   margin-bottom: 1rem;
 }

 .form-group label {
   margin-right: 0.5rem;
 }

 .item {
   display: flex;
 }

 .product-card {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin: 2rem;
    text-align: center;
    padding: 2rem;
}

