html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slider {
  position: relative;
}
.slick-slider .slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 999;
}
.slick-slider .slick-prev {
  left: 1rem;
}
.slick-slider .slick-next {
  right: 1rem;
}
